In [5]:
#importing all the library
import seaborn as sns
import matplotlib.pyplot as plt
import warnings

In [4]:
import pandas as pd,numpy as np
import warnings
warnings.filterwarnings('ignore')

In [5]:
bike = pd.read_csv('day.csv')

In [6]:
bike.head()

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,01-01-2018,1,0,1,0,1,1,2,14.110847,18.18125,80.5833,10.749882,331,654,985
1,2,02-01-2018,1,0,1,0,2,1,2,14.902598,17.68695,69.6087,16.652113,131,670,801
2,3,03-01-2018,1,0,1,0,3,1,1,8.050924,9.47025,43.7273,16.636703,120,1229,1349
3,4,04-01-2018,1,0,1,0,4,1,1,8.200000,10.60610,59.0435,10.739832,108,1454,1562
4,5,05-01-2018,1,0,1,0,5,1,1,9.305237,11.46350,43.6957,12.522300,82,1518,1600

In [8]:
bike.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 730 entries, 0 to 729
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     730 non-null    int64
 1   dteday      730 non-null    object
 2   season      730 non-null    int64
 3   yr          730 non-null    int64
 4   mnth        730 non-null    int64
 5   holiday     730 non-null    int64
 6   weekday     730 non-null    int64
 7   workingday  730 non-null    int64
 8   weathersit  730 non-null    int64
 9   temp        730 non-null    float64
 10  atemp       730 non-null    float64
 11  hum         730 non-null    float64
 12  windspeed   730 non-null    float64
 13  casual      730 non-null    int64
 14  registered  730 non-null    int64
 15  cnt         730 non-null    int64
dtypes: float64(4), int64(11), object(1)
memory usage: 91.4+ KB

In [11]:
mydf=bike[['hum','windspeed','temp']]

In [13]:
mydf.head()

       hum  windspeed       temp
0  80.5833  10.749882  14.110847
1  69.6087  16.652113  14.902598
2  43.7273  16.636703   8.050924
3  59.0435  10.739832   8.200000
4  43.6957  12.522300   9.305237

In [14]:
from statsmodels.stats.outliers_influence import variance_inflation_factor

In [15]:
variance_inflation_factor(mydf.values,1) 
# here 1 represents column number

4.677354407535793

In [18]:
bike.rename(columns={'yr':'year','mnth':'month','hum':'humidity','cnt':'count'},inplace=True)

In [2]:
bike['season']=bike.season.map({1:'spring',2:'summer'})

NameError: name 'bike' is not defined

In [ ]:
bike['weathersit']=bike.weathersit.map({1:'Clear,Few clouds,Partly cloudy,Partly cloudy',2:'Mist+Cloudy,Mist+Broken clouds,Mist+'})

In [3]:
df['yr'] = df.yr.map({0:"2018",1:'2019'})

NameError: name 'df' is not defined

In [4]:
mydf=df[['yr','season','weekday','weathersit','temp','casual', 'registered','cnt']]

NameError: name 'df' is not defined