In [1]:
import numpy as np
import pandas as pd
import os
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn
from sklearn.model_selection import train_test_split
import statsmodels
import statsmodels.api as sm
from scipy.stats import kurtosis
import scipy

In [4]:
train_df=pd.read_csv('train.csv')

In [5]:
train_df.head(5)

   Id Province_State Country_Region        Date  ConfirmedCases  Fatalities
0   1            NaN    Afghanistan  2020-01-22             0.0         0.0
1   2            NaN    Afghanistan  2020-01-23             0.0         0.0
2   3            NaN    Afghanistan  2020-01-24             0.0         0.0
3   4            NaN    Afghanistan  2020-01-25             0.0         0.0
4   5            NaN    Afghanistan  2020-01-26             0.0         0.0

In [6]:
test_df=pd.read_csv('test.csv')

In [7]:
test_df.head(5)

   ForecastId Province_State Country_Region        Date
0           1            NaN    Afghanistan  2020-03-26
1           2            NaN    Afghanistan  2020-03-27
2           3            NaN    Afghanistan  2020-03-28
3           4            NaN    Afghanistan  2020-03-29
4           5            NaN    Afghanistan  2020-03-30

In [9]:
train_df.tail()

,Id,Province_State,Country_Region,Date,ConfirmedCases,Fatalities
23557,32708,NaN,Zimbabwe,2020-04-03,9.0,1.0
23558,32709,NaN,Zimbabwe,2020-04-04,9.0,1.0
23559,32710,NaN,Zimbabwe,2020-04-05,9.0,1.0
23560,32711,NaN,Zimbabwe,2020-04-06,10.0,1.0
23561,32712,NaN,Zimbabwe,2020-04-07,11.0,2.0

In [10]:
test_df.tail()

       ForecastId Province_State Country_Region        Date
13153       13154            NaN       Zimbabwe  2020-05-03
13154       13155            NaN       Zimbabwe  2020-05-04
13155       13156            NaN       Zimbabwe  2020-05-05
13156       13157            NaN       Zimbabwe  2020-05-06
13157       13158            NaN       Zimbabwe  2020-05-07

In [13]:
train_df.shape

(23562, 6)

In [14]:
test_df.shape

(13158, 4)

In [19]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23562 entries, 0 to 23561
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Id              23562 non-null  int64
 1   Province_State  10010 non-null  object
 2   Country_Region  23562 non-null  object
 3   Date            23562 non-null  object
 4   ConfirmedCases  23562 non-null  float64
 5   Fatalities      23562 non-null  float64
dtypes: float64(2), int64(1), object(3)
memory usage: 1.1+ MB

In [20]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13158 entries, 0 to 13157
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ForecastId      13158 non-null  int64
 1   Province_State  5590 non-null   object
 2   Country_Region  13158 non-null  object
 3   Date            13158 non-null  object
dtypes: int64(1), object(3)
memory usage: 411.3+ KB

In [18]:
train_df.describe()

                 Id  ConfirmedCases    Fatalities
count  23562.000000    23562.000000  23562.000000
mean   16356.500000      801.323275     37.467617
std     9451.977497     6312.495888    468.699337
min        1.000000        0.000000      0.000000
25%     8171.250000        0.000000      0.000000
50%    16356.500000        0.000000      0.000000
75%    24541.750000       74.000000      0.000000
max    32712.000000   141942.000000  17127.000000

In [21]:
test_df.describe()

         ForecastId
count  13158.000000
mean    6579.500000
std     3798.531756
min        1.000000
25%     3290.250000
50%     6579.500000
75%     9868.750000
max    13158.000000

In [17]:
#Data preparation

In [22]:
train_df.isnull().sum()

Id                    0
Province_State    13552
Country_Region        0
Date                  0
ConfirmedCases        0
Fatalities            0
dtype: int64

In [23]:
test_df.isnull().sum()

ForecastId           0
Province_State    7568
Country_Region       0
Date                 0
dtype: int64

In [ ]:
df.columns
df.columns=['Country_Region', 'Confirmed', 'Deaths', 'Recovered', 'Active',
       'New_cases', 'New_deaths', 'New_recovered', 'Deaths_100Cases',
       'Recovered_per_100Cases', 'Deaths_100Recovered',
       'Confirmed_last_week', '1_week_change', '1_week_perct_increase',
       'WHO_Region']